{% extends 'blog/base.html' %}

{% block page_header %}
    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-4">
            <h5 class="display-7">About me.</h5>

            <p class="lead">Hello everyone! I am Engr. Edreinne Dizon Sumabat, ECT. 
                I am hoping to pursue a career in the IT industry. I am a licensed ECE 
                and ranked third in ECT Licensure Exams (October 2024). I am currently 
                studying for my CCNA certification and is further developing my skills as 
                a developer at the same time. My ultimate goal is to be a cybersecurity 
                specialist, therefore I am furthering my skills in these areas. I am 
                looking forward to applying and contributing my skills in the workplace.
            </p>
            <a class="btn btn-primary btn-lg mt-1"
                href="https://github.com/edsumabat">Show projects &raquo;</a>
        </div>
    </div>
{% endblock page_header %}
    

{% block content %}
    {% for post in posts %}
    <div class="card mb-3">
        <h5 class="card-header">
           {{ post.title }} ({{ post.published_date}})
        </h5>
         <div class="card-body">
           <p class="card-text">{{ post.text }}</p>
         </div>
   </div>
    {% endfor %}
{% endblock %}