{% extends 'blog/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <div class="p-3 bg-dark text-white border-dark rounded-3">
        <div class="container-fluid py-4">
            <h1 class="display-3">My Projects</h1>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container">
        <div class="card mb-3 bg-secondary text-light">
            <h5 class="card-header">Project Links</h5>
            <div class="card-body bg-dark rounded-1">
                <ul class="list-group">
                    <li class="list-group-item bg-dark border-dark">
                        <a href="https://github.com/edsumabat/my-landing-page" class="list-group-item list-group-item-action bg-secondary text-light">
                            My portfolio page / homepage. (This website)
                        </a>
                    </li>
                    <li class="list-group-item bg-dark border-0">
                        <a href="https://edsumabat2.pythonanywhere.com/" class="list-group-item list-group-item-action bg-secondary text-light">
                            Blog and Log, a multi-user blog demo.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
